
body {
    background-color: cornflowerblue;
    margin: 0;
    text-align: center;
}

.icons {
    background-color: aqua;
    max-width: 50%;
}

.images {
    max-width: 30%;
    position: relative;
    left: 5px;
}

.text {
    padding: 20px;
    margin-top: 5px;
    border-radius: 30px;
    border: 5px double black;
    
}

.enviar {
    padding: 10px;
    border-radius: 10px;
    border: 5px double black;;
}